.back_img {
   background: url("../images/1.png");
   background-repeat:no-repeat;
   background-size: cover;
   background-size:100% 100%;
   background-position:center center;
   height: 100%;
   padding: 13.5% 12%;

   
}

#welcm_txt {
	font-size: 36px;
	font-weight: 600;
	color: #fff;
	margin-bottom: 0px;
	padding: 0px;
}

#drive_txt {
	font-size: 100px;
	font-weight: 600;
	color: #fff;
	line-height: 90px;
}

.reg_btn {
	background-color: #ff3300;
	font-size: 20px;
	color: #fff;
	border: 1px solid #fff;
	padding: 8px 30px;
	margin-top: 3%;
}

.sign_btn {
	background-color: #e43491;
	font-size: 20px;
	color: #fff;
	border: 1px solid #fff;
	padding: 8px 30px;
	margin-top: 3%;
}

#drive_mob {
	margin-left: 65%;
	color: #fff;
	font-size: 36px;
	font-weight: 600;
}

#about_link {
	position: absolute;
	font-weight: 600;
	font-size: 30px;
	color: #fff;
	float: right;
	margin-left: 70pc;

}